<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_backButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1693},{124,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,61}}</string>
                <key>sourceSize</key>
                <string>{124,61}</string>
            </dict>
            <key>about_hsharmaLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1387},{184,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,65}}</string>
                <key>sourceSize</key>
                <string>{184,65}</string>
            </dict>
            <key>about_starlingLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1387},{184,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,65}}</string>
                <key>sourceSize</key>
                <string>{184,65}</string>
            </dict>
            <key>bgLayer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,292}}</string>
                <key>sourceSize</key>
                <string>{1024,292}</string>
            </dict>
            <key>bgLayer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{1024,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,229}}</string>
                <key>sourceSize</key>
                <string>{1024,229}</string>
            </dict>
            <key>bgLayer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1261},{1024,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,124}}</string>
                <key>sourceSize</key>
                <string>{1024,124}</string>
            </dict>
            <key>gameOver_aboutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1387},{167,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,79}}</string>
                <key>sourceSize</key>
                <string>{167,79}</string>
            </dict>
            <key>gameOver_mainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1693},{166,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,90}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
            <key>gameOver_playAgainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1473},{165,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,102}}</string>
                <key>sourceSize</key>
                <string>{165,102}</string>
            </dict>
            <key>gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1681},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gift10.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1669},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gift2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1785},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gift3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1785},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gift4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1785},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gift5.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1793},{23,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gift6.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1785},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gift7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1785},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gift8.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1776},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>gift9.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1731},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1788},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1788},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1793},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1665},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1788},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1534},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1475},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>layer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{1024,288}}</string>
                <key>offset</key>
                <string>{0,-240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,480},{1024,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>layer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{1024,290}}</string>
                <key>offset</key>
                <string>{0,-196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,435},{1024,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>layer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1109},{1024,150}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{1024,150}}</string>
                <key>sourceSize</key>
                <string>{1024,158}</string>
            </dict>
            <key>obstacle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1689},{139,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,53}}</string>
                <key>sourceSize</key>
                <string>{139,53}</string>
            </dict>
            <key>obstacle1_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1731},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>obstacle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1592},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>obstacle2_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1592},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>obstacle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1689},{137,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,72}}</string>
                <key>sourceSize</key>
                <string>{137,72}</string>
            </dict>
            <key>obstacle3_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1577},{102,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,80}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>obstacle4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1677},{145,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,61}}</string>
                <key>sourceSize</key>
                <string>{145,61}</string>
            </dict>
            <key>obstacle4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1687},{143,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,61}}</string>
                <key>sourceSize</key>
                <string>{143,61}</string>
            </dict>
            <key>obstacle4_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1731},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{95,66}</string>
            </dict>
            <key>particleEat.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1776},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>particleWindForce.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1823},{286,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,4}}</string>
                <key>sourceSize</key>
                <string>{286,4}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>santa.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1573},{101,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,114}}</string>
                <key>sourceSize</key>
                <string>{101,116}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1788},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1788},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1788},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1788},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1387},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,84}}</string>
                <key>sourceSize</key>
                <string>{166,84}</string>
            </dict>
            <key>watchOut_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1573},{112,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>watchOut_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1565},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>watchOut_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1668},{106,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>watchOut_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1556},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>watchOut_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1573},{112,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>welcome_aboutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1387},{86,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>welcome_playButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1387},{176,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,106}}</string>
                <key>sourceSize</key>
                <string>{176,106}</string>
            </dict>
            <key>welcome_santa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1387},{399,267}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,267}}</string>
                <key>sourceSize</key>
                <string>{411,267}</string>
            </dict>
            <key>welcome_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1387},{304,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,208}}</string>
                <key>sourceSize</key>
                <string>{304,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1028,1833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee45c37c308cb806b115050cb04829f2:531c58883a9207485a4d77f45997d5c9:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
